.main__container {
  min-height: clamp(7.688rem, 7.491rem + 9.98vw, 19.375rem);
  background-color: #f2f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__title,
.main__subtitle {
  font-size: clamp(0.813rem, 0.188rem + 3.13vw, 3rem);
  font-family: "Montserrat-Regular", "sans-serif";
}
.main__col_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__button {
  width: clamp(14rem, 13.964rem + 2.18vw, 16.125rem);
  height: clamp(2.588rem, 1.563rem + 2.63vw, 3.565rem);
  background-color: #e21a18;
  border-radius: 10px;
  transition: all 0.3s ease;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
  text-decoration: none;
}
.main__button:hover {
  background-color: #fb3633;
  cursor: pointer;
}
