.button {
  width: clamp(14rem, 12.643rem + 6.79vw, 18.75rem);
  height: 41px;
  background-color: #e21a18;
  border-radius: 10px;
  border-style: none;
  color: #ffffff;
  font-size: clamp(0.875rem, 0.804rem + 0.36vw, 1.125rem);
}
.col_btn {
  display: flex;
  justify-content: center;
  padding-bottom: clamp(1.875rem, 1.339rem + 2.68vw, 3.75rem);
}
