.data__container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  flex-grow: 1;
  margin-top: clamp(3.125rem, 2.518rem + 3.04vw, 5.25rem);
  padding: 0 !important;
}
