.map__row {
  padding-top: clamp(1.25rem, 0.232rem + 5.09vw, 4.813rem);
  gap: clamp(0.5rem, 0.125rem + 1.88vw, 1.813rem);
}
.map__title {
  font-size: clamp(1rem, 0.857rem + 1.95vw, 3.5rem);
  font-family: "Montserrat-Regular", "sans-serif";
  width: clamp(17.5rem, 12.768rem + 31.66vw, 46.063rem);
}
.map__img {
  min-height: clamp(13.438rem, 8.313rem + 25.62vw, 31.375rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 17px;
}
.map__list {
  padding: 0;
  height: 100%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.map__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.map__text {
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
  margin-bottom: 0;
}
.map__col_btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.map__button {
  width: clamp(14rem, 13.964rem + 9.18vw, 22.125rem);
  height: clamp(2.588rem, 1.563rem + 2.63vw, 3.565rem);
  background-color: #e21a18;
  border-radius: 10px;
  transition: all 0.3s ease;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
  text-decoration: none;
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
}
.map__button:hover {
  background-color: #fb3633;
  cursor: pointer;
}
.map__description {
  /* width: clamp(17.5rem, 10.821rem + 33.39vw, 40.875rem); */
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
}
.map__row_btn {
  padding-top: clamp(2.5rem, 2.143rem + 1.79vw, 3.75rem);
  padding-bottom: clamp(1.875rem, 1.018rem + 4.29vw, 4.875rem);
}
.map__title_color {
  color: #e21a18;
  text-transform: uppercase;
}
/* .map__col_text {
  display: flex;
  justify-content: flex-end;
} */
@media (max-width: 922px) {
  .map__row {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .map__row_btn {
    display: block;
  }
  .map__col_btn {
    justify-content: center;
    padding-top: 20px;
  }
}
