.realtor {
  padding-bottom: clamp(1.875rem, 1.661rem + 1.07vw, 2.625rem);
}
.realtor__row {
  padding-top: clamp(1.875rem, 1.054rem + 4.11vw, 4.75rem);
}
.wrapper {
  background-color: #e2ecee;
  width: clamp(17.5rem, 11.232rem + 31.34vw, 39.438rem);
  height: clamp(3.5rem, 3.143rem + 1.79vw, 4.75rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.realtor__title {
  font-family: "Montserrat-Regular", "sans-serif";
  font-size: clamp(1.5rem, 1.214rem + 1.43vw, 2.5rem);
}
.content__container {
  max-width: 1200px;
}
.content__row {
  display: flex;
  gap: clamp(1.875rem, 1.464rem + 2.05vw, 3.313rem);
  padding-top: clamp(1.875rem, 1.661rem + 1.07vw, 2.625rem);
}
.content__list {
  padding: 0;
}
.content__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: clamp(2.5rem, 1.786rem + 7.57vw, 5rem);
  border-bottom: solid 1px #2a3659;
  gap: 10px;
}
.content__text {
  margin: 0;
  font-size: clamp(1rem, 0.929rem + 0.36vw, 1.25rem);
  font-family: "Roboto-Regular", "sans-serif";
}
.content__img {
  height: clamp(2.5rem, 2.321rem + 0.89vw, 3.125rem);
}
.content__col_img {
  background-image: url("../../../assets/content__office.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: clamp(19.75rem, 20.159rem + 24.95vw, 33.625rem);
  border-radius: 17px;
}
.payment__row {
  padding-top: clamp(1.875rem, 1.161rem + 3.57vw, 4.375rem);
}
.payment__text {
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
  font-family: "Roboto-Light", "sans-serif";
}
.price__row {
  gap: clamp(1rem, 0.75rem + 1.25vw, 1.875rem);
}

.price__text {
  font-size: clamp(0.875rem, 0.804rem + 0.36vw, 1.125rem);
  font-family: "Roboto-Light", "sans-serif";
  border-bottom: #2a3659 1px solid;
  min-height: clamp(2.5rem, 2.964rem + 7.68vw, 3.375rem);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  .content__item {
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  .content__row {
    display: block;
  }
  .content__col_img {
    margin-top: 30px;
  }
}
@media (max-width: 1024px) {
  .price__col {
    flex-direction: column;
    display: flex;
  }
}
@media (max-width: 992px) {
  .price__col {
    gap: 20px;
  }
  .content__row {
    display: block;
  }
  .content__col {
    margin-top: clamp(1.5rem, 1.364rem + 0.68vw, 1.875rem);
  }
  .price__text {
    min-height: 90px;
  }
}
