.location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.location_img {
  height: 20px;
  width: 14px;
}
.select_and_location {
  display: flex;
  align-items: center;
}
.select {
  background-color: transparent;
  border-radius: 5px;
  color: rgb(242 243 243);
  font-weight: 600;
  border-style: none;
  cursor: pointer;
}
.select:focus {
  outline: none;
}
.option {
  background-color: transparent;
  border-radius: 5px;
  color: rgb(242 243 243);
  font-weight: 600;
  border-style: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  background-color: #0b1116;
}
