.complex {
  flex-grow: 1;
  margin-top: clamp(3.125rem, 2.518rem + 3.04vw, 5.25rem);
  padding: 0 !important;
}
.complex__container {
  text-align: center;
  padding-top: 10px;
}
.apartments__container {
  min-height: clamp(33.25rem, 27.536rem + 23.57vw, 52.75rem);
  padding-top: clamp(2.5rem, 1.786rem + 3.57vw, 5rem);
}
.apartments__col_title {
  display: flex;
}
.apartments__title {
  background-color: #e2effa;
  padding: 22px 35px;
  min-width: clamp(17.5rem, 11.273rem + 31.14vw, 42.625rem);
  font-size: clamp(1.5rem, 1.071rem + 2.14vw, 3rem);
  border-radius: 12px;
  font-family: "Montserrat-Regular", "sans-serif";
}
.apartments__text_container_fluid {
  padding: 0;
  background-color: #e2effa;
  padding-bottom: clamp(3.125rem, 2.232rem + 4.46vw, 6.25rem);
}
.complex__details {
  font-size: clamp(1rem, 0.786rem + 1.07vw, 1.75rem);
}
.complex__details_desc {
  font-size: clamp(1.5rem, 1.286rem + 1.07vw, 2.25rem);
}
.border_left {
  border-left: solid 1px #3d3d3d;
}
.border_right {
  border-right: solid 1px #3d3d3d;
}
.apartments__text_container_fluid {
  padding-top: clamp(3.125rem, 2.232rem + 4.46vw, 6.25rem);
  padding-bottom: clamp(3.125rem, 2.232rem + 4.46vw, 6.25rem);
}
.apartments__text_container {
  min-height: clamp(31.25rem, 24.107rem + 35.71vw, 56.25rem);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}
.apartments__text__detail {
  font-size: clamp(1rem, 0.786rem + 1.07vw, 1.75rem);
  color: #2a3659;
}
.apartments__text__detail_desc {
  font-size: clamp(0.875rem, 0.696rem + 0.89vw, 1.5rem);
  max-width: clamp(17.5rem, 13.804rem + 18.48vw, 30.438rem);
  color: #8b8b8b;
}
.architecture__title {
  color: #2a3659;
  font-size: clamp(1.75rem, 1.536rem + 1.07vw, 2.5rem);
}
.architecture__text {
  color: #2a3659;
  font-size: clamp(0.875rem, 0.625rem + 1.25vw, 1.75rem);
}
.architecture__text_desc {
  max-width: clamp(17.5rem, 13.804rem + 18.48vw, 30.438rem);
  color: #8b8b8b;
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
}
.apartments__cards_wrapper {
  gap: 24px;
  padding-top: clamp(2.5rem, 1.786rem + 3.57vw, 5rem);
  margin-bottom: 30px;
}
.complex__slider_container {
  padding: 0;
  position: relative;
}
.complex__title {
  color: #fff;
}
.complex__subtitle {
  color: #fff;
  margin-bottom: 0;
}
.apartments__buy_title {
  font-size: clamp(2rem, 1.714rem + 1.43vw, 3rem);
  font-family: "Montserrat-Regular", "sans-serif";
}
.complex__slider_text {
  position: absolute;
  z-index: 20;
  bottom: clamp(5.625rem, 3.75rem + 9.38vw, 12.188rem);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: clamp(1.25rem, 0.893rem + 1.79vw, 2.5rem);
  left: clamp(0.75rem, -0.321rem + 5.36vw, 7.5rem);
  background-color: #444444a9;
  padding: 8px 10px;
  border-radius: 8px;
  min-width: 280px;
}
.architecture__row_img_text_2 {
  padding-top: 30px;
  gap: 24px;
}
.architecture__col {
  padding-bottom: 30px;
}
.architecture__col_image {
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 17px;
  margin-bottom: 30px;
}
.architecture__row_text_img {
  gap: 24px;
}
.architecture__img {
  border-radius: 17px;
  min-height: 300px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.text_col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .apartments__text__detail_desc {
    max-width: 100%;
  }
  .complex__row {
    display: flex;
    flex-direction: column;
  }
  .complex__col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
  }
}
