.main__cards_fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: clamp(35.5rem, 34.929rem + 7.86vw, 42.85rem);
  background-color: #e2effa;
}
.main__cards_row {
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.main__cards_col {
  min-height: clamp(13.438rem, 12.348rem + 7.45vw, 19.75rem);
  position: relative;
  min-width: clamp(18.75rem, 13.607rem + 25.71vw, 36.75rem);
  padding: 0 !important;
  flex-grow: 1 !important;
}
.main__cards_col_new {
  background-image: url("../../../assets/builds_bgr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  transition: all 0.7s ease;
}
.main__cards_col_land {
  background-image: url("../../../assets/landBgr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  transition: all 0.7s ease;
}
.main__cards_col_land:hover,
.main__cards_col_new:hover {
  transform: scale(1.03);
  transition: all 0.7s ease;
}
.main__cards_link {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  font-size: clamp(1.25rem, 0.893rem + 1.79vw, 2.5rem);
  font-family: "Montserrat-Medium", "sans-serif";
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0px 0px 30px #000000;
  padding-bottom: clamp(1.563rem, 1.295rem + 1.34vw, 2.5rem);
  background-color: #00000052;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .main__cards_col {
    width: 48% !important;
  }
}

@media (max-width: 1200px) {
  /* .main__cards_col {
    width: 47% !important;
  } */
}
@media (max-width: 1350px) {
}
@media (max-width: 1024px) {
  /* .main__cards_col {
    width: 35% !important;
  } */
}
@media (max-width: 992px) {
  /* .main__cards_col {
    width: 100% !important;
  } */
}
