.main {
  flex-grow: 1;
  margin-top: clamp(3.125rem, 2.518rem + 3.04vw, 5.25rem);
  padding: 0 !important;
}
.cards__row {
  display: flex;
  align-items: center;
  padding-top: clamp(2.094rem, 1.263rem + 4.15vw, 5rem);
  padding-bottom: clamp(2.094rem, 0.817rem + 6.38vw, 6.563rem);
  gap: clamp(1.25rem, 1.161rem + 0.45vw, 1.563rem);
}

.cards__title_section {
  padding-bottom: clamp(2.188rem, 1.205rem + 4.91vw, 5.625rem);
}
@media (max-width: 576px) {
  .cards__row {
    padding-inline: 2% !important;
  }
}
