.main__container {
  padding: 0;
  background-image: url("../../../assets/header_bgr.JPEG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  min-height: clamp(27.813rem, 25.58rem + 11.16vw, 35.625rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__title {
  font-size: clamp(2.25rem, 1.75rem + 2.5vw, 4rem);
  font-family: "Montserrat-Medium", "sans-serif";
  color: #ffffff;
  margin-bottom: 0;
  padding-top: 28px;
  text-shadow: 0px 0px 20px #000000;
}
.main__subtitle {
  font-size: clamp(1rem, 0.482rem + 2.59vw, 2.813rem);
  font-family: "Montserrat-Medium", "sans-serif";
  color: #ffffff;
  margin-bottom: 0;
  text-shadow: 0px 0px 20px #000000;
}
.main__row {
  justify-content: center;
}
.main__row_bottom {
  font-size: clamp(1rem, 0.75rem + 1.25vw, 1.875rem);
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.main__text_personal,
.main__text_security,
.main__text_transparency {
  text-shadow: 0px 0px 20px #000000;
  color: #ffffff;
}
.main__col_agency {
  width: 39%;
}
.main__col_transparency {
  text-align: left;
}
.main__subtitle_agency {
  text-align: right;
}
.main__subtitle_realtor {
  text-align: left;
}
.main__col_personal {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: clamp(0.438rem, -0.241rem + 3.39vw, 2.813rem);
}
.main__first_description_link {
  display: inline-block;
  animation: bounce 2s infinite ease-in-out;
  cursor: pointer;
  will-change: transform;
}
.main__first_description {
  margin-top: 41px;
  margin-bottom: 14.5px;
}
.main__first_description_wrapper {
  display: flex;
  position: relative;
  margin-bottom: 14.5px;
}

.main__first_description_link.paused {
  animation-play-state: paused;
}
.arrow {
  margin: 0 auto;
}
.main__first_description_link {
  margin: 0 auto;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 768px) {
  .main__subtitle,
  .main__title {
    text-align: left;
  }
  .main__col_agency,
  .main__col_realtor {
    width: 100%;
  }
  .main__container {
    text-align: left;
    /* background-image: url("../../../assets/header_bgr_320.jpg"); */
  }

  .main__row,
  .main__row_bottom {
    padding-inline: 4%;
  }
  .main__col_personal {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
  }
}
