.city_fluid {
  padding: 0;
}
.city__container {
  flex-grow: 1;
  margin-top: clamp(3.125rem, 2.518rem + 3.04vw, 5.25rem);
  padding: 0 !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: clamp(27.813rem, 21.188rem + 33.13vw, 51rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.city__contaiiner_title {
  padding-top: clamp(1.875rem, 1.518rem + 1.79vw, 3.125rem);
}
.section__one_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: clamp(18.75rem, 14.5rem + 21.25vw, 30.438rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 17px;
  width: 48%;
}
.section__one_container {
  padding-top: clamp(2.5rem, 1.429rem + 5.36vw, 6.27rem);
  background-color: #e2effa;
}
.section__one_title {
  font-size: clamp(1.5rem, 1.071rem + 2.14vw, 3rem);
  font-family: "Montserrat-Regular", "sans-serif";
  width: 50%;
}
.section__image_row {
  padding-top: clamp(1.875rem, 1.161rem + 3.57vw, 4.375rem);
  gap: 24px;
  justify-content: space-between;
  padding-bottom: clamp(1.875rem, 1.161rem + 8.57vw, 9.375rem);
}
.section__one_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
}
.section__text_list {
  padding: 0;
}
.section__text_item {
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: clamp(2.5rem, 0.786rem + 4.57vw, 6rem);
  border-bottom: solid 1px #2a3659;
  justify-content: space-between;
}
.section__text_item_title {
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
  margin-bottom: 0;
}
.desc_base {
  width: 41%;
  text-align: right;
}
.section__text_item_desc {
  font-size: clamp(0.875rem, 0.768rem + 0.54vw, 1.25rem);
}
.section__two_text {
  padding-top: clamp(2.5rem, 1.643rem + 4.29vw, 5.5rem);
}
.section__two_container {
  background-color: #e2effa;
}
.section__two_icon_first {
  height: clamp(18.75rem, 15.411rem + 16.7vw, 30.438rem);
  border-radius: 17px;
}
.section__two_icon_second {
  border-radius: 17px;
  height: clamp(18.75rem, 15.411rem + 16.7vw, 30.438rem);
}
.section__two_icon_third {
  border-radius: 17px;
  height: clamp(12.5rem, 10.161rem + 11.7vw, 20.688rem);
}
.section__two_row {
  gap: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
  padding-bottom: clamp(1.875rem, 1.518rem + 1.79vw, 3.125rem);
}
.section__two_col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: clamp(1rem, 0.661rem + 1.7vw, 2.188rem);
  width: 46%;
}
.section__two_text {
  font-size: clamp(1rem, 0.929rem + 0.36vw, 1.25rem);
  font-family: "Roboto-Light", "sans-serif";
}
.city__title {
  color: #ffffff;
  text-shadow: 4px 2px 20px #000000;
}
.city__desc {
  color: #ffffff;
  font-size: clamp(1rem, 0.714rem + 1.43vw, 2rem);
  text-shadow: 4px 2px 20px #000000;
}
@media (max-width: 992px) {
  .section__image_row,
  .section__two_row {
    flex-direction: column;
  }
  .section__one_img,
  .section__one_text,
  .section__two_col {
    width: 100%;
  }
  .section__one_title {
    width: 100%;
    text-align: center;
  }
  .section__two_icon_first,
  .section__two_icon_second,
  .section__two_icon_third {
    height: clamp(16.875rem, 16.339rem + 2.68vw, 18.75rem);
  }
}
