.form_fluid {
  background-color: #f2f4f6;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.row_form {
  padding-block: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
.orderFormFirst {
  order: -1;
}
.orderFormSecond {
  order: -2;
}
.form_img {
  width: 100%;
  height: clamp(16.75rem, 13.321rem + 17.14vw, 30.75rem);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 17px;
  position: relative;
  overflow: hidden;
}
.form__title {
  color: #2a3659;
  font-size: clamp(1.25rem, 0.893rem + 1.79vw, 2.5rem);
  line-height: clamp(1.563rem, 1.152rem + 2.05vw, 3rem);
}
.form__input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form__wrapper {
  display: flex;
  flex-direction: column;
}
.form_input {
  height: 56px;
  padding: 16px 20px;
  border-radius: 10px;
}
.form__span {
  color: #7191bf;
  font-size: 10px;
  padding: 4px 16px;
}
.form__btn {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #e21a18;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
.form__btn_text {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}
.form__confiditial {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__confiditial_btn {
  background-color: #2a3659;
  height: 18px;
  width: 18px;
  color: #fff;
}
.form__confiditial_text {
  font-size: 8px;
  color: #8b8b8b;
  margin: 0;
  width: 90%;
}
.socials__list {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.socials__text {
  font-size: 13px;
  color: #8b8b8b;
  margin: 0;
}
.form_input_ {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 50px;
}
.form__span_error {
  color: #e21a18;
}
.form__span_ {
  position: absolute;
  right: 0;
  opacity: 0;
}
.form__honeypot {
  display: none;
}
@media (max-width: 1440px) {
  .form__title {
    width: 80%;
  }
}
@media (max-width: 992px) {
  .row_form {
    flex-direction: column;
  }

  .orderFormFirst {
    order: -2;
  }
  .orderFormSecond {
    order: -1;
  }
}
