.land {
  flex-grow: 1;
  margin-top: clamp(3.125rem, 2.518rem + 3.04vw, 5.25rem);
  padding: 0 !important;
}

.land__container {
  text-align: center;
  padding-top: 10px;
}

.builds__container {
  min-height: clamp(33.25rem, 27.536rem + 23.57vw, 52.75rem);
  padding-top: clamp(2.5rem, 1.786rem + 3.57vw, 5rem);
}

.builds__col_title {
  display: flex;
}

.builds__title {
  background-color: #e2effa;
  padding: 22px 35px;
  min-width: clamp(17.5rem, 11.273rem + 31.14vw, 42.625rem);
  font-size: clamp(1.5rem, 1.071rem + 2.14vw, 3rem);
  border-radius: 12px;
  font-family: "Montserrat-Regular", "sans-serif";
}

.builds__text_container_fluid {
  padding: 0;
  background-color: #e2effa;
  padding-bottom: clamp(3.125rem, 2.232rem + 4.46vw, 6.25rem);
}

.land__details {
  font-size: clamp(1rem, 0.786rem + 1.07vw, 1.75rem);
}

.land__details_desc {
  font-size: clamp(1.5rem, 1.286rem + 1.07vw, 2.25rem);
}

.border_left {
  border-left: solid 1px #3d3d3d;
}

.border_right {
  border-right: solid 1px #3d3d3d;
}

.builds__text_container_fluid {
  padding-top: clamp(3.125rem, 2.232rem + 4.46vw, 6.25rem);
  padding-bottom: clamp(3.125rem, 2.232rem + 4.46vw, 6.25rem);
}

.builds__text_container {
  min-height: clamp(31.25rem, 24.107rem + 35.71vw, 56.25rem);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.builds__text__detail {
  font-size: clamp(1rem, 0.786rem + 1.07vw, 1.75rem);
  color: #2a3659;
}

.builds__text__detail_desc {
  font-size: clamp(0.875rem, 0.696rem + 0.89vw, 1.5rem);
  max-width: clamp(17.5rem, 13.804rem + 18.48vw, 30.438rem);
  color: #8b8b8b;
}
.builds__cards_wrapper {
  gap: 24px;
  padding-top: clamp(2.5rem, 1.786rem + 3.57vw, 5rem);
  margin-bottom: 30px;
}

.land__slider_container {
  padding: 0;
  position: relative;
}

.land__title {
  color: #fff;
}

.land__subtitle {
  color: #fff;
  margin-bottom: 0;
}

.builds__buy_title {
  font-size: clamp(2rem, 1.714rem + 1.43vw, 3rem);
  font-family: "Montserrat-Regular", "sans-serif";
}

.land__slider_text {
  position: absolute;
  z-index: 20;
  bottom: clamp(5.625rem, 3.75rem + 9.38vw, 12.188rem);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: clamp(1.25rem, 0.893rem + 1.79vw, 2.5rem);
  left: clamp(0.75rem, -0.321rem + 5.36vw, 7.5rem);
  background-color: #444444a9;
  padding: 8px 10px;
  border-radius: 8px;
  min-width: 280px;
}
.lands__container {
  min-height: clamp(33.25rem, 27.536rem + 23.57vw, 52.75rem);
  padding-top: clamp(2.5rem, 1.786rem + 3.57vw, 5rem);
}

.lands__col_title {
  display: flex;
}

.lands__title {
  background-color: #e2effa;
  padding: 22px 35px;
  min-width: clamp(17.5rem, 11.273rem + 31.14vw, 42.625rem);
  font-size: clamp(1.5rem, 1.071rem + 2.14vw, 3rem);
  border-radius: 12px;
  font-family: "Montserrat-Regular", "sans-serif";
}

.lands__cards_wrapper {
  gap: 24px;
  padding-top: clamp(2.5rem, 1.786rem + 3.57vw, 5rem);
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .builds__text__detail_desc {
    max-width: 100%;
  }

  .land__row {
    display: flex;
    flex-direction: column;
  }

  .land__col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
  }
}
