.credit {
  padding-bottom: clamp(3.25rem, 2.932rem + 2.59vw, 2.125rem);
}
.credit__row {
  padding-top: clamp(1.875rem, 1.42rem + 2.27vw, 3.125rem);
}
.credit__title {
  font-family: "Montserrat-Medium", sans-serif;
}
.wrapper {
  background-color: #e2ecee;
  width: clamp(17.5rem, 11.232rem + 31.34vw, 39.438rem);
  height: clamp(3.5rem, 3.143rem + 1.79vw, 4.75rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.content__row {
  padding-top: clamp(2.5rem, 1.614rem + 8.43vw, 2.938rem);
  align-items: flex-end;
  gap: 24px;
}
.conditions__row {
  padding-top: clamp(2.5rem, 1.614rem + 8.43vw, 8.938rem);
  align-items: flex-end;
  gap: 24px;
}
.content__col,
.conditions__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.conditions__col {
  align-self: flex-start;
}

.content__list,
.conditions__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
}
.content__item,
.conditions__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: clamp(2.5rem, 1.786rem + 7.57vw, 5rem);
  border-bottom: solid 1px #2a3659;
  gap: 10px;
}
.content__title,
.conditions__title {
  font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
  font-family: "Roboto-Light", "sans-serif";
}
.content__text,
.conditions__text {
  font-size: clamp(0.875rem, 0.739rem + 0.68vw, 1.25rem);
  margin-bottom: 0;
  font-family: "Roboto-Regular", "sans-serif";
}
.content__img {
  background-image: url("../../../assets/credit__girl.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: clamp(19.75rem, 20.159rem + 24.95vw, 33.625rem);
  border-radius: 17px;
}
.conditions__img {
  background-image: url("../../../assets/family__icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: clamp(19.75rem, 20.159rem + 24.95vw, 33.625rem);
  border-radius: 17px;
}
@media (max-width: 992px) {
  .content__row,
  .conditions__row {
    display: flex;
    flex-direction: column;
  }
  .content__img,
  .conditions__img {
    margin-top: clamp(1.5rem, 1.364rem + 0.68vw, 1.875rem);
  }
  .conditions__col {
    order: -1;
  }
}
