.slider {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderWrapper {
  overflow: hidden;
  width: 100%;
  border-radius: 6px;
}

.sliderContainer {
  display: flex;
  transition: transform 0.8s ease;
}

.sliderSlide {
  min-width: 100%;
  height: clamp(27.813rem, 22.973rem + 24.2vw, 44.75rem);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  background-color: #dfeeeeb3;
}

.sliderTitle {
  color: #ffffff;
  font-family: "Montserrat-Medium", sans-serif;
  text-shadow: #000000 0px 0px 20px;
  font-size: clamp(1.25rem, 1.179rem + 0.36vw, 1.5rem);
}

.sliderButton_more {
  background-color: transparent;
  padding: 11px 54px;
  margin-left: 0 !important;
  margin-bottom: 14px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #e21a18;
  text-decoration: none;
}

.sliderControls {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  width: 100%;
  margin-block: 20px;
  padding-inline: 5%;
  gap: 15px;
}

.sliderButton {
  background-color: transparent;
  border: none;
  padding: 10px 18.5px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 10px;
  border: solid 1px #e21a18;
  border-radius: 6px;
}
