.apartmentDetails {
  flex-grow: 1;
  margin-top: clamp(3.125rem, 2.518rem + 3.04vw, 5.25rem);
  padding: 0 !important;
}
.apartmentDetails__slider_container {
  padding: 0;
}
.apartmentDetails__container {
  padding-top: clamp(3.125rem, 2.232rem + 2.46vw, 3.25rem);
}
.apartmentDetails__title {
  font-size: clamp(1.563rem, 1.116rem + 2.23vw, 3.125rem);
  font-family: "Montserrat-Regular", "sans-serif";
  line-height: clamp(2rem, 1.464rem + 2.68vw, 3.875rem);
}
.apartmentDetails__subtitle {
  font-size: clamp(1.125rem, 0.804rem + 1.61vw, 2.25rem);
  font-family: "Montserrat-Regular", "sans-serif";
}
.apartmentDetails__subtitle_col {
  padding-top: 15px;
  padding-bottom: 17px;
}
.apartmentDetails__image_col {
  min-height: clamp(12.5rem, 9.339rem + 16.8vw, 26.563rem);
  min-width: clamp(17.5rem, 15.768rem + 8.66vw, 23.563rem);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 17px;
  padding-inline: 2%;
}
.apartmentDetails__image {
  min-height: clamp(5.625rem, 13.125rem + 11.5vw, 15.875rem);
  min-width: clamp(17.5rem, 14.018rem + 29.41vw, 35.688rem);
  border-radius: 17px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.apartmentDetails__image_row,
.apartmentDetails__address_row {
  gap: 24px;
}
.apartmentDetails__image_col_wrapper {
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.apartmentDetails__address {
  display: flex;
}
.apartmentDetails__address_col {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* .apartmentDetails__image_sector {
  height: clamp(5rem, 3.714rem + 11.43vw, 15.5rem);
  width: clamp(2.5rem, 1.875rem + 6.13vw, 8.688rem);
} */
.apartmentDetails__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.apartmentDetails__address_p {
  color: #8b8b8b;
  font-size: clamp(0.5rem, 0.357rem + 0.71vw, 1rem);
  font-family: "Montserrat-Regular", "sans-serif";
}
.apartmentDetails__address_row {
  padding-top: clamp(1.875rem, 1.375rem + 2.5vw, 3.625rem);
  padding-bottom: 40px;
}
.apartmentDetails__details_col_description {
  display: flex;
  align-items: center;
}
.apartmentDetails__details_p_desc {
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
  margin-bottom: 0;
  font-family: "Montserrat-Regular", "sans-serif";
}
.apartmentDetails__details {
  width: 100%;
  padding: 0;
  margin-bottom: 0;
}
.apartmentDetails__details_p {
  margin-bottom: 0;
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
  font-family: "Montserrat-Regular", "sans-serif";
}
.apartmentDetails__details_li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2%;
}
.apartmentDetails__button {
  background-color: #e21a18;
  color: #fff;
  width: 100%;
  height: clamp(2.5rem, 2.268rem + 1.16vw, 3.313rem);
  border-radius: 10px;
  margin-top: 23px;
}

@media (max-width: 768px) {
  .apartmentDetails__image_col {
    min-height: 300px;
  }
  .apartmentDetails__image_row,
  .apartmentDetails__address_row {
    flex-direction: column;
  }
  .apartmentDetails__image_col_wrapper {
    gap: 20px;
  }
}
