.new {
  flex-grow: 1;
  margin-top: clamp(3.125rem, 2.518rem + 3.04vw, 5.25rem);
  padding: 0 !important;
  background-color: #dfeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.new__title {
  font-size: clamp(2.25rem, 2.036rem + 1.07vw, 3rem);
  font-family: "Montserrat-Regular", sans-serif;
}
.new__subtitle {
  font-size: clamp(1rem, 0.714rem + 1.43vw, 2rem);
  font-family: "Montserrat-Medium", sans-serif;
}
.new_fluid {
  padding: 0;
  flex-grow: 1;
}
.new__container {
  padding-top: clamp(1.875rem, 1.518rem + 1.79vw, 3.125rem);
}
.new__row_slider {
  padding-top: clamp(1.875rem, 1.179rem + 3.48vw, 4.313rem);
}
.new__container_map {
  padding-top: clamp(1.875rem, 1.518rem + 1.79vw, 3.125rem);
}
.new__title_color {
  color: #e21a18;
  text-transform: uppercase;
}
