.contacts {
  flex-grow: 1;
  margin-top: clamp(3.125rem, 2.518rem + 3.04vw, 5.25rem);
  padding: 0 !important;
  background-color: #a7dbff;
}
.contacts__container {
  padding-top: 50px;
}
.contacts__row_desc {
  padding-bottom: clamp(1.25rem, 0.625rem + 3.13vw, 3.438rem);
}
.contacts__title {
  font-size: clamp(1.5rem, 1.179rem + 1.61vw, 2.625rem);
  font-family: "Montserrat-Light", sans-serif;
}
.contacts__title_color {
  color: #e21a18;
  font-family: "Montserrat-Medium", sans-serif;
}
.contacts__desc {
  font-size: clamp(1.125rem, 0.875rem + 1.25vw, 2rem);
}
.contacts__row_adress {
  gap: 24px;
}
.adress_col {
  background-color: #ffffff7e;
  min-height: clamp(12.5rem, 9.75rem + 13.75vw, 22.125rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(1.25rem, 0.893rem + 1.79vw, 2.5rem);
}
.adress_col {
  padding-inline: clamp(2rem, -0.071rem + 10.36vw, 9.25rem);
  padding-block: clamp(1.75rem, 1.393rem + 1.79vw, 3rem);
  border-radius: 17px;
}
.contacts__col_loc,
.contacts__col_clock,
.contacts__col_phone {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contacts__card_title {
  text-align: center;
  font-size: clamp(1.5rem, 1.286rem + 1.07vw, 2.25rem);
  font-family: "Roboto-Regular", sans-serif;
}
.contacts__card_loc,
.contacts__card_clock,
.contacts__card_phone {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  justify-content: center;
}
.contacts__card_desc {
  font-size: clamp(1rem, 0.964rem + 0.18vw, 1.125rem);
  margin-bottom: 0;
  font-family: "Roboto-Regular", sans-serif;
}
.contacts__centers {
  padding-top: clamp(1.875rem, 1.339rem + 2.68vw, 3.75rem);
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
}
.contacts__row_center {
  gap: 15px;
}
.contacts__map {
  background-image: url("../../assets/contacts_map_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: clamp(2.5rem, 1.429rem + 5.36vw, 6.25rem);
  padding-bottom: clamp(1.875rem, -0.018rem + 9.46vw, 8.5rem);
}
.contacts__map_title {
  font-size: clamp(1.5rem, 1.214rem + 1.43vw, 2.5rem);
  font-family: "Montserrat-Light", sans-serif;
}
.contacts__map {
  min-height: clamp(37.5rem, 32.143rem + 46.79vw, 66.25rem);
}
.contacts__form_row {
  padding-top: clamp(3.75rem, 2.411rem + 6.7vw, 8.438rem);
}

.contacts__form_list {
  padding: 0;
  margin-bottom: 0;
}
.contacts__form_li {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  border-bottom: solid 1px #2a3659;
  align-items: flex-end;
}
.contacts__form_p {
  margin-bottom: 0;
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
  font-family: "Roboto-Regular", sans-serif;
}
@media (max-width: 992px) {
  .contacts__row_adress {
    flex-direction: column;
  }
  .contacts__form_col {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contacts__row_center {
    flex-direction: column;
  }
  .contacts__center {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
  }
}
