.footer__row {
  border-bottom: solid 1px #8b8b8b;
}
.footer__col {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  order: -2;
}
.footer__socials_menu {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 20px;
  padding: 0;
}
.footer__call {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.footer__title_col {
  text-align: center;
  order: -1;
}
.footer__title {
  font-size: clamp(2.25rem, 1.75rem + 2.5vw, 4rem);
  color: #e21a18;
  font-family: "Montserrat-Medium", "sans-serif";
}
.footer__subtitle {
  font-size: 16px;
  font-family: "Montserrat-Medium", "sans-serif";
}
.footer__link {
  text-decoration: none;
  font-family: "Roboto-Medium", "sans-serif";
  font-size: 18px;
}
@media (max-width: 767px) {
  .footer__title_col {
    order: -3;
    border-bottom: #8b8b8b solid 1px;
  }
  .footer__col {
    justify-content: center;
    padding-top: 17px;
  }
  .footer__call {
    justify-content: center;
  }
}
