.logo__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30% !important;
}
.logo {
  width: clamp(4.25rem, 2.25rem + 10vw, 11.25rem);
}

@media (min-width: 1024px) {
  .logo__wrapper {
    width: 25% !important;
  }
}
