.conf__container {
  flex-grow: 1;
  margin-top: clamp(3.125rem, 2.518rem + 3.04vw, 5.25rem);
  padding: 0 !important;
}
.conf__container_side {
  padding-bottom: clamp(2.75rem, 0.679rem + 5.36vw, 7.5rem);
}
.conf__row {
  padding-top: clamp(1.875rem, 0.625rem + 6.25vw, 6.25rem);
}
.conf__title {
  width: clamp(17.5rem, 11.411rem + 30.45vw, 44.813rem);
  font-size: clamp(1.5rem, 1.286rem + 1.07vw, 2.25rem);
  color: #8193bd;
  font-family: "Montserrat-Medium", sans-serif;
  padding-bottom: clamp(1.875rem, 1.268rem + 3.04vw, 4rem);
}
.conf__roubrics {
  color: #8193bd;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
  padding-top: 15px;
  padding-bottom: clamp(1rem, 0.839rem + 0.8vw, 1.563rem);
}
.conf__item {
  list-style: disc;
}
.conf__text {
  font-size: 16px;
}
